@import "media-queries";
@import "mixins";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #FFF;
}

body {
  font-family: $primaryFont;
  font-size: 19px;
  line-height: 1.5em;
  color: $darkColor;
  font-weight: $regularWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $featuredFont;
  line-height: 1.2em;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 55px;
  color: $whiteColor;

  @include smallUp {
    font-size: 79px;
  }
}

h2 {
  font-size: 29px;
  color: $secondaryColor;

  @include mediumUp {
    font-size: 45px;
  }
}

h3 {
  font-size: 23px;
  font-weight: 400;

  @include mediumUp {
    font-size: 29px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

img {
  max-width: 100%;
}

a {
  color: $thirdColor;

  &:hover {
    color: $primaryColor;
  }
}

.container {
  @include center;
}

#main {
  overflow: auto;
}

.main-content {
  padding: 60px 0 110px;
}