@import "media-queries";
@import "mixins";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: $primaryFont;
  font-size: 19px;
  line-height: 1.5em;
  color: $darkColor;
  background: #FFF;
  font-weight: $regularWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.dark-mode {
    background: $darkColor;
    color: $darkColorLight;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $featuredFont;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 55px;
  color: $whiteColor;

  @include smallUp {
    font-size: 97px;
  }
}

h2 {
  font-size: 29px;
  color: $secondaryColor;

  @include mediumUp {
    font-size: 45px;
  }
}

h3 {
  font-size: 23px;
  font-weight: 400;
  color: $secondaryColor;

  @include mediumUp {
    font-size: 29px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

img {
  max-width: 100%;
}

a {
  color: $thirdColor;

  .dark-mode & {
    color: $thirdColorDark;
  }

  &:hover {
    color: $primaryColor;
  }
}

.dark-mode #header-home {
  a {
    color: $thirdColor;
  }
}

.container {
  @include center;
}

#main {
  overflow: auto;
  
  @include smallUp {
    min-height: calc(100vh - 142px);
  }

  @include mediumUp {
    min-height: calc(100vh - 162px);
  }
}

.main-content {
  padding: 0 0 100px;
}

input {
  width: 100%;
  border: 1px solid $darkColor;
  border-radius: 5px;
  height: 35px;
  padding: 0 10px;

  .dark-mode & {
    background: $darkColorMedium;
    color: $darkColorLight;
  }
}

select {
  border: 1px solid $darkColor;
  border-radius: 5px;
  height: 35px;
  padding: 0 10px;

  .dark-mode & {
    background: $darkColorMedium;
    color: $darkColorLight;
  }
}
