@import "media-queries";

@mixin center {
  width: 100%;
  padding: 0 20px;

  @include smallUp {
    padding: 0;
    margin: 0 auto;
    width: 720px;
  }

  @include mediumUp {
    width: 940px;
  }

  @include largeUp {
    width: 1088px;
  }
}