$primaryFont: 'Montserrat', sans-serif;
$featuredFont: 'Handlee', cursive;

// Colors
$primaryColor: #1c8382;
$secondaryColor: #0096B0;
$thirdColor: #5773bc;
$whiteColor: #FFFFFF;
$darkColor: #333333;
$darkColorMedium: #555;
$darkColorLight: #EEE;
$thirdColorDark: #769af2;

// Font Weight
$regularWeight: 400;
$semiBoldWeight: 600;

// Medias Queries sizes
$tiny: 480px;
$small: 760px;
$medium: 960px;
$large: 1200px;
$wide: 1440px;
