$primaryFont: 'Montserrat', sans-serif;
$featuredFont: 'Handlee', cursive;

// Colors
$primaryColor: #1c8382;
$secondaryColor: #0096B0;
$thirdColor: #5773bc;
$whiteColor: #FFFFFF;
$darkColor: #333333;

// Font Weight
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;

// Medias Queries sizes
$tiny: 480px;
$small: 760px;
$medium: 960px;
$large: 1200px;
$wide: 1440px;