@import "../../../assets/scss/media-queries";

#title-hero {
  width: 100%;
  height: calc(100vh/3);
  background: #ccc;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include mediumUp {
    height: calc(100vw/3.25);
    justify-content: flex-start;
  }

  h1 {
    margin: 0 0 20px 0;
    position: relative;
    z-index: 10;
    text-align: center;

    @include smallUp {
      margin: 0 0 30px 30px;
      text-align: left;
    }
  }

  .cover-image {
    width: 100%;
    height: calc(100vh/3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    @include mediumUp {
      height: calc(100vw/3.25);
    }
  }
}