@import "../../assets/scss/media-queries";

.btn {
  background: $thirdColor;
  color: $whiteColor;
  display: inline-block;
  height: 50px;
  max-width: 100%;
  padding: 0 20px;
  font-weight: $lightWeight;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  border-radius: 21px;
  border: 0;
  cursor: pointer;

  @include mediumUp {
    min-width: 290px;
  }

  &:hover {
    color: $whiteColor;
    background: $secondaryColor;
  }
}
