@import "../../../assets/scss/media-queries";

#footer {
  background: $primaryColor;
  height: 80px;
  display: flex;
  align-items: center;

  .copyright {
    color: $whiteColor;
    margin: 0;

  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}