@import "../../../assets/scss/media-queries";

.image-gallery-component {
  margin: 60px 0;

  h2 {
    margin: 0 0 20px 0;
  }

  .gallery-inner {
    width: 100%;

    #gallery-placeholder {
      width: 100%;
      height: auto;
    }
  }
}

.image-gallery-swipe {
  background: #444;
}

.image-gallery-content:not(.fullscreen) {
  .image-gallery-slide {
    &, .image-gallery-image {
      max-height: 816px;
    }
  }
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 68px;
  width: 48px;

  @include mediumUp {
    height: 110px;
    width: 70px;
  }
}

.image-gallery-fullscreen-button, .image-gallery-play-button {
  padding: 12px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  width: 26px;
  height: 26px;
}