@import "../../assets/scss/media-queries";

.categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @include smallUp {
    flex-direction: row;
  }

  .taglist {
    @include smallUp {
      margin-right: 60px;
    }
  

    .label {
      font-weight: $semiBoldWeight;
      margin-bottom: 5px;
    }

    .value {
      a {
        font-size: 15px;
        font-weight: $mediumWeight;
        text-decoration: none;
        color: $whiteColor;
        margin-right: 5px;
        margin-top: 5px;
        padding: 6px 12px;
        border-radius: 20px;
        background: $thirdColor;
        display: inline-block;

        &:hover {
          background: $primaryColor;
        }
      }
    }
  }

  .tags {
    margin-top: 30px;
    margin-right: 0;

    @include smallUp {
      margin-top: 0;
    }
  }
}
