@import "../../../assets/scss/media-queries";

.side-by-side {
  display: flex;
  flex-direction: column;
  margin: 40px 0;

  @include mediumUp {
    margin: 80px -16px;
    flex-direction: row;
  }

  .image {
    text-align: center;

    @include mediumUp {
      padding: 0 15px;
      width: 43%;
      max-width: 420px;
      display: block;
      flex: 2;
    }
  }

  .content {
    margin-top: 20px;

    @include mediumUp {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-direction: column;
      padding: 0 15px;
      margin-top: 0;
    }
  }
}