@import "../../../assets/scss/media-queries";

#footer-menu {
  ul {
    @include smallUp {
      width: 420px;
    }

    @include mediumUp {
      width: 535px;
    }
  }

  li {
    font-size: 21px;
    line-height: 1.6em;

    @include smallUp {
      font-size: 15px;
      line-height: 1.1em;
    }

    a {
      color: $whiteColor;

      &:hover {
        color: $darkColor;
      }
    }
  }
}