* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #333;
  height: 100%;
}

body {
  background: url('assets/images/construcao-bg.jpg') center center no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: 360px;
  max-width: 90%;
  background: rgba(256, 256, 256, 0.7);
  padding: 40px 50px 35px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.logo p {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  margin: 15px 0 0 0;
}