@import "../../../assets/scss/media-queries";

.splide__pagination {
  display: none;
  bottom: 30px;

  @include mediumUp {
    display: flex;
  }

  li {
    button {
      width: 20px;
      height: 20px;
      background: $thirdColor;
      opacity: 1;
      margin: 0 10px;

      &.is-active {
        width: 25px;
        height: 25px;
        background: $whiteColor;
        transform: none;
      }
    }
  }
}

.splide__arrow {
  border-radius: 0;
  background: none;
  width: 48px;
  height: 48px;
  top: auto;
  transform: none;
  bottom: 30px;
  opacity: 1;

  @include mediumUp {
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    svg {
      fill: $thirdColor;
    }
  }

  svg {
    width: 100%;
    height: auto;
    fill: $whiteColor;
  }
}

.splide__arrow--prev {
  left: 50%;
  margin-left: -90px;

  @include mediumUp {
    left: 50px;
    margin-left: auto;
  }
}

.splide__arrow--next {
  right: 50%;
  margin-right: -90px;

  @include mediumUp {
    right: 50px;
    margin-right: auto;
  }
}

.slide-content {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  @include mediumUp {
    align-items: flex-end;
  }
}

.slide-copy {
  color: $whiteColor;
  text-align: center;
  width: 82%;
  max-width: 390px;

  @include mediumUp {
    width: auto;
    max-width: none;
    margin-bottom: 190px;
  }

  h2 {
    color: $darkColor;
    margin: 0;
    font-size: 47px;
    line-height: 1em;

    @include mediumUp {
      font-size: 53px;
      color: $whiteColor;
    }
  }

  p {
    color: $whiteColor;
    font-size: 21px;
    font-weight: $regularWeight;
    margin: 10px auto 25px auto;

    @include mediumUp {
      width: 360px;
    }
  }
}