@import "../../../assets/scss/media-queries";

.splide__pagination {
  bottom: 30px;

  li {
    button {
      width: 15px;
      height: 15px;
      background: $thirdColor;
      opacity: 1;
      margin: 0 4px;

      &.is-active {
        width: 15px;
        height: 15px;
        background: $whiteColor;
        transform: none;
      }
    }
  }
}

.splide__arrow {
  border-radius: 0;
  background: none;
  width: 50px;
  height: 50px;
  opacity: 1;

  &:hover {
    svg {
      fill: $whiteColor;
    }
  }

  svg {
    width: 50px;
    height: 50px;
    fill: $thirdColor;
  }
}

.slide-content {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.slide-copy {
  color: $whiteColor;
  margin-bottom: 190px;
  text-align: center;

  h2 {
    margin: 0;
    font-size: 53px;
    line-height: 1em;
  }

  p {
    width: 360px;
    color: $whiteColor;
    font-size: 21px;
    font-weight: $mediumWeight;
    margin: 10px auto 25px auto;
  }
}