@import "../../../assets/scss/media-queries";
@import "../../../assets/scss/mixins";

#header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 200px;

  .container {
    @include smallUp {
      display: flex;
      justify-content: space-between;
    }
  }
}